<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Intro</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1><strong>BIG TRACTA BACKEND</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/stock3.webp}" alt="Java Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">WWhat is the point of our project?</h5>
                    <p class="card-text">
                        <ol>
                            <li>A neural network capable of analyzing positive investment returns based off paterns</li>
                            <li>A chatbot capable of answering simple questions</li>
                            <li>A user login system in which stores data in a database</li>
                            <li>A playlist in which anyone can store their favorite stocks for later</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/scrum.png}" alt="Spring Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Who are we?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Scrummaster: Rachit</li>
                            <li>Frontend: Kaiden</li>
                            <li>Backend: Grace</li>
                            <li>DevOps: Theo</li>                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/teamwork.jpeg}" alt="Java Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">How are our important ideals</h5>
                    <p class="card-text">
                        <ol>
                            <li>Teamwork: Allows for a diversity of perspectives and ideas, which can lead to better problem-solving and decision-making.</li>
                            <li>Communication: Clarifies expectations and goals, which can help teams work more efficiently and effectively.</li>
                            <li>Persistence: Helps teams overcome setbacks and challenges.</li>
                            <li>Growth mindset: Promotes a willingness to take risks and challenge themselves.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- End of body content specific to page -->
</th:block>
</body>

</html>